{% extends "restaurant/wrapper.html" %}
{% load static %}

{% block content %}
    <div class="card" style="width: 35rem;">
        <h3 class="card-title">{{ dish.name }}</h3>
        <img class="card-img" src="{{ dish.photo.url }}" alt="Card image cap"/>
        <p class="card-subtitle"><strong>Категория: </strong>{{ dish.section }}</p>
        <p class="card-text">{{ dish.info }}</p>
        <p class="card-subtitle"><strong>Масса: </strong>{{ dish.weight }} г.</p>
        <p class="card-subtitle"><strong>Цена: </strong>{{ dish.price }} $</p>
    </div>
{% endblock %}